---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:

def answer_one():
    df.sort_values(by=['Gold'],axis=0,inplace=True,ascending=False)
    return df.iloc[0].name

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    
    df['SGoldWGold'] = abs(df['Gold'] - df['Gold.1'])
    df.sort_values(by = ['SGoldWGold'], inplace=True, ascending=False)
    return df.iloc[0].name

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    def createPercent(sumG,winG,goldDif):

        if sumG > 0 and winG > 0:
            z = goldDif / (sumG + winG)
        else:
            z=0
        return z
    df['PcntGold'] = df.apply(lambda x: createPercent(sumG = x['Gold'],
                        winG = x['Gold.1'],goldDif = x['SGoldWGold']), 
                        axis = 1)
    df.sort_values(by='PcntGold',inplace=True, ascending=False)
    return df.iloc[0].name

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    def createPoints(g2,s2,b2):
        return (g2*3 + s2+2 + b2)
    
    points = df.apply(lambda x: createPoints(g2 =x['Gold.2'],
                      s2 = x['Silver.2'], b2 = x['Bronze.2']),axis=1)
    return points

Bulgaria                   326
Belgium                    225
Spain                      211
Australia                  770
Czechoslovakia             272
Great Britain             1300
China                      954
Ukraine                    194
Kazakhstan                  95
Japan                      725
Poland                     433
United States             4827
France                    1248
Italy                     1135
West Germany               379
Soviet Union              2152
Uzbekistan                  35
Unified Team               245
East Germany               905
United Team of Germany     211
Slovakia                    49
Austria                    460
South Korea                512
Sweden                    1015
Russia                     883
Finland                    751
Estonia                     68
Germany                   1288
Norway                     827
Netherlands                606
                          ...
Hungary                    818
Indonesia                   41
Morocco                     36
Hong Kong                    7
Serbia and Montenegro       15
Israel                      11
Armenia                     16
Luxembourg                   8
Mozambique                   6
Costa Rica                   8
Colombia                    25
Chile                       19
Uganda                      13
Chinese Taipei              27
Mongolia                    30
Venezuela                   18
Trinidad and Tobago         24
Bahamas                     24
Uruguay                     16
Tunisia                     18
Pakistan                    18
Australasia                 20
Nigeria                     31
Cameroon                    13
Dominican Republic          14
Zimbabwe                    16
Latvia                      34
Portugal                    33
Algeria                     27
Afghanistan                  4
Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv')
county_df = census_df[census_df['SUMLEV'] == 50]
def answer_five():
    z = 0
    name = ''
    for i in county_df['STNAME'].unique():
        stateCount = county_df[county_df['STNAME']==i]['STNAME'].count()
        if stateCount > z:
            z = stateCount
            name = i
    return name

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:

#sort by state
#order by population
#take top 3 then sum
#order by population
#take top 3
def answer_six():
    co_df = county_df.copy()
    #co_df = co_df['STNAME','STATE','CENSUS2010POP']
    co_df.sort_values(by=['STATE','CENSUS2010POP'], 
                          inplace=True, ascending = [False,False])

    state = ['a','b','c']
    s1 = s2 = s3 = 0
    for i in co_df['STNAME'].unique():
        coPop = county_df[county_df['STNAME']==i]
        #coPop.sort_values(by='CENSUS2010POP',inplace=True, ascending=False)
        co3sum = coPop['CENSUS2010POP'].sort_values(ascending = False).head(3).sum()

        if co3sum > s1:
            state[2] = state[1]
            state[1] = state[0]
            state[0] = i
            s3 = s2
            s2 = s1
            s1 = co3sum
        elif co3sum > s2:
            s3 = s2
            s2 = co3sum
            state[2] = state[1]
            state[1] = i
        else:
            co3sum > s3
            state[2] = i
    
    print(s1, s2, s3)    
    
    return state

15924150 8269632 6815061

['California', 'Texas', 'Alabama']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [31]:
def answer_seven():
    
    def max_diff(row):
        popList = [row['popdif1'], row['popdif2'],row['popdif3'],
                   row['popdif4'],row['popdif5']]
        return max(popList)   
    
    for i in range(1,6):
        popdif='popdif'+str(i)
        year1 = 2009 + i
        year2 = year1 + 1
        popest1 = 'POPESTIMATE' + str(year1)
        popest2 = 'POPESTIMATE' + str(year2)
        county_df[popdif] = abs(county_df[popest1]-county_df[popest2])
    county_df['max_diff'] = county_df.apply(max_diff, axis=1)
    return county_df.ix[county_df['max_diff'].idxmax()]['CTYNAME']

/Users/RB/anaconda/envs/pyDS/lib/python3.5/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/RB/anaconda/envs/pyDS/lib/python3.5/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

'Autauga County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [52]:
def answer_eight():
    regions = [1,2]
    ctyname = 'Washington'

    cnties = (county_df.loc[(county_df['POPESTIMATE2015'] > county_df['POPESTIMATE2014']) &
         (county_df['REGION'].isin(regions)) &
         (county_df['CTYNAME'].str.contains(ctyname)),['STNAME','CTYNAME']].values)
        
    #county_df['CTYNAME'].startswith('Washington')
    #wash_col = [col for col in county_df.columns if 'spike' in col]

    return cnties

[['Iowa' 'Washington County']
 ['Minnesota' 'Washington County']
 ['Pennsylvania' 'Washington County']
 ['Rhode Island' 'Washington County']
 ['Wisconsin' 'Washington County']]