---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [4]:

def answer_one():
    df.sort_values(by=['Gold'],axis=0,inplace=True,ascending=False)
    return df.iloc[0].name

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    
    df['SGoldWGold'] = abs(df['Gold'] - df['Gold.1'])
    df.sort_values(by = ['SGoldWGold'], inplace=True, ascending=False)
    return df.iloc[0].name

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [6]:
def answer_three():
    def createPercent(sumG,winG,goldDif):

        if sumG > 0 and winG > 0:
            z = goldDif / (sumG + winG)
        else:
            z=0
        return z
    df['PcntGold'] = df.apply(lambda x: createPercent(sumG = x['Gold'],
                        winG = x['Gold.1'],goldDif = x['SGoldWGold']), 
                        axis = 1)
    df.sort_values(by='PcntGold',inplace=True, ascending=False)
    return df.iloc[0].name

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [7]:
def answer_four():
    def createPoints(g2,s2,b2):
        return (g2*3 + s2*2 + b2)
    
    points = df.apply(lambda x: createPoints(g2 =x['Gold.2'],
                      s2 = x['Silver.2'], b2 = x['Bronze.2']),axis=1)
    return points

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [8]:
census_df = pd.read_csv('census.csv')
county_df = census_df[census_df['SUMLEV'] == 50]
def answer_five():
    z = 0
    name = ''
    for i in county_df['STNAME'].unique():
        stateCount = county_df[county_df['STNAME']==i]['STNAME'].count()
        if stateCount > z:
            z = stateCount
            name = i
    return name

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [23]:
#sort by state
#order by population
#take top 3 then sum
#order by population
#take top 3
def answer_six():
    co_df = county_df.copy()
    #co_df = co_df['STNAME','STATE','CENSUS2010POP']
    co_df.sort_values(by=['STATE','CENSUS2010POP'], 
                          inplace=True, ascending = [False,False])

    state = ['a','b','c']
    s1 = s2 = s3 = 0
    for i in co_df['STNAME'].unique():
        coPop = co_df[co_df['STNAME']==i]
        #coPop.sort_values(by='CENSUS2010POP',inplace=True, ascending=False)
        co3sum = coPop['CENSUS2010POP'].sort_values(ascending = False).head(3).sum()
        if co3sum > s1:
            state[2] = state[1]
            state[1] = state[0]
            state[0] = i
            s3 = s2
            s2 = s1
            s1 = co3sum
        elif co3sum > s2:
            s3 = s2
            s2 = co3sum
            state[2] = state[1]
            state[1] = i
        elif co3sum > s3:
            co3sum > s3
            state[2] = i  
    
    return state

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [ ]:
def answer_seven():
    
    def max_diff(row):
        popList = [row['popdif1'], row['popdif2'],row['popdif3'],
                   row['popdif4'],row['popdif5']]
        return max(popList)   
    
    for i in range(1,6):
        popdif='popdif'+str(i)
        year1 = 2009 + i
        year2 = year1 + 1
        popest1 = 'POPESTIMATE' + str(year1)
        popest2 = 'POPESTIMATE' + str(year2)
        county_df[popdif] = abs(county_df[popest1]-county_df[popest2])
    county_df['max_diff'] = county_df.apply(max_diff, axis=1)
    return county_df.ix[county_df['max_diff'].idxmax()]['CTYNAME']

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [ ]:
def answer_eight():
    regions = [1,2]
    ctyname = 'Washington'

    cnties = (county_df.loc[(county_df['POPESTIMATE2015'] > county_df['POPESTIMATE2014']) &
         (county_df['REGION'].isin(regions)) &
         (county_df['CTYNAME'].str.contains(ctyname)),['STNAME','CTYNAME']].values)
        
    #county_df['CTYNAME'].startswith('Washington')
    #wash_col = [col for col in county_df.columns if 'spike' in col]

    return pd.DataFrame(cnties,columns=['STNAME','CTYNAME'])